dl.result{
 margin-top: -30px;
 padding-bottom: 30px;
 position: relative;
}
dl.result > dd{
 font-family: monospace !important;
}
dl.result > dd > pre{
 margin-bottom: 0px
}
dl.result > dd:not(.active){
 display: none;
}
dl.result > dt{
 font-weight: bold;
 position: absolute;
 cursor: pointer;
 padding: 1px;
 right: 0
}

pre{
 overflow: visible
}

div.footnotes{
 font-style: italic;
 font-size: 0.8em;
}
div.footnotes p{
 display: inline;
}

a.footnote{
 vertical-align: super;
 font-size: smaller;
}
